<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Company Research Information</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
      table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background: #e3e3e3;
        font-color:white;
      }

    td{
      border-bottom: 1px solid black;
      padding-right: 20px;
    }

#row{
  padding-right: 100px;
  padding-left: 20px;
}

</style>
  </head>
  <body>


    <h1 style="text-align:center "><u>CRB COMPANY RESEARCH REPORT</u></h1>
    <table>
      <tr>
        <td>1.</td>
        <td id='td2'>Company name :</td>
        <td id="row">PQR</td>
      </tr>

      <tr>
        <td>2.</td>
        <td id='td2'>Company description :</td>
        <td id="row">PQR</td>
      </tr>

      <tr>
        <td>3.</td>
        <td id='td2'>Company country :</td>
        <td id="row">IND</td>
      </tr>

      <tr>
        <td>4.</td>
        <td id='td2'>Company ISIN's :</td>
        <td id="row">12345,56790</td>
      </tr>

    </table>

  </body>
</html>
