{%extends "base.html"%}
{%block content%}
<div class="container 200px">
    <h1 style="text-align:center "><u>CRB COMPANY RESEARCH REPORT</u></h1>
    <table class="table table-hover table-dark" style="width:50rem; margin:auto">
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col">First</th>-->
<!--      <th scope="col">Last</th>-->
<!--      <th scope="col">Handle</th>-->
<!--    </tr>-->
<!--  </thead>-->
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Company Email :</td>
      <td>{{data['email_id']}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Company description :</td>
      <td>Information about the company business</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Company country :</td>
      <td>India</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Company ISIN's :</td>
      <td>US8912345, CN1234567</td>
    </tr>

  </tbody>
</table>
</div>
{%endblock%}
