    <!-- <h1 style="text-align: center">ABC Company Information Portal</h1> -->
{% extends "base.html" %}

    {%block content %}
        <div class="container-sm" style="flex-direction: row">
          <div class="row justify-content-md-center">
            <!-- column 1 for stats-->
            <div class="col border">
              <div class="card" style="width: 29rem; height: 15rem; margin-auto; margin-top: 45px; margin-bottom: 70px">
                  <div class="card-body" style="background-color:#ffa700">
                      <h5 class="card-title">Monthly stats</h5>

                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>

                <div class="card" style="width: 29rem; height: 15rem; margin-auto; margin-top: 45px; margin-bottom: 70px">
                    <div class="card-body" style="background-color:#ffa700">
                        <h5 class="card-title">Yearly stats</h5>

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

                  <div class="card" style="width: 29rem; height: 15rem; margin-auto; margin-top: 45px; margin-bottom: 70px">
                      <div class="card-body" style="background-color:#ffa700">
                          <h5 class="card-title">Executive Summary</h5>

                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>

            </div>

            <div class="col" style="border=0">

                     {% for post in posts %}

                      <div class="card" style="width: 28rem;  word-wrap: break-word; margin-left:4rem">
                          <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>

                            <p class="card-text">{{ post.content }}</p>
                            <a href="#" class="card-link">{{ post.author.username }}</a>
                            <a href="#" class="card-link">{{ post.date_posted.strftime('%Y-%m-%d') }}</a>
                          </div>
                      </div>
                     {% endfor %}

            </div>
          </div>
        </div>
{%endblock%}