{%extends "base.html"%}

{%block content%}
    <div class="container-sm rounded 85px" style="width:40rem; margin-top:2rem; margin-bottom:8rem;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      <div class="card" style="background-color:#DAF7A6; margin-bottom:5rem; border-radius:20px">
        <div class="card-body" style="width: 28rem; height: 28rem; margin-top:1rem; margin-left:4rem;">
          <form action="" method="post">

            <div class="form-group">
              <label>{{ form.username.label }}</label>
                <p>{{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                <span style="color: red;">*{{ error }}*</span>
                {% endfor %}
                
                <p>
            </div>

          <div class="form-group">  
            <p>
            <label>{{ form.email.label }}</label>
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
            {% endfor %}
            </p>
          </div>

            <div class="form-group">
              <label>{{form.password.label}}</label>
              <p>{{form.password(class="form-control")}}
              {% for error in form.password.errors %}
              {% endfor %}
              </p>
            </div>

            <div class="form-group">
              <label>{{form.confirm_password.label}}</label>
              <p>{{form.confirm_password(class="form-control")}}
              {% for error in form.confirm_password.errors %}
              {% endfor %}
              </p>
            </div>

            <p>
              {{ form.csrf_token }}
              {{form.submit(class="btn btn-primary")}}
              <a class="btn btn-primary" style="margin-left:15rem" href="{{ url_for('login') }}">Sign In</a>
            </p>
          </form>
        </div>
      </div>
</div>
{%endblock%}
